<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'reviews/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'reviews/js/reviews.js' %}"></script>
    <script type="text/javascript" src="{% static 'reviews/js/base.js' %}"></script>


</head>
<body>
    
    <div><button onclick="fun()">ajax</button></div>
    <!--<div><button onclick="get_dp_reviewNum()">get_dp_reviewNum</button></div>-->
    <!--<div><button onclick="get_ta_reviewNum()">get_ta_reviewNum</button></div>-->
    <!--<div><button onclick="get_or_reviewNum()">get_or_reviewNum</button></div>-->
    <!--<div><button onclick="get_mfw_reviewNum()">get_mfw_reviewNum</button></div>-->
    <div><button onclick="get_all_id()">get_all_id</button></div>
    <div><button onclick="get_ta_review()">get_ta_review</button></div>
    <div><button onclick="get_or_review()">get_or_review</button></div>
    <div><button onclick="get_dp_review()">get_dp_review</button></div>
    <div><button onclick="get_mfw_review()">get_mfw_review</button></div>
    <div><button onclick="get_all_reviewNum()">get_all_reviewNum</button></div>
    <div><button onclick="get_or_review_info()">get_or_review_info</button></div>
    <div><button onclick="get_ta_review_info()">get_ta_review_info</button> </div>
    <div><button onclick="get_dp_review_info()">get_dp_review_info</button></div>
    <div><button onclick="get_mfw_review_info()">get_mfw_review_info</button> </div>

</body>
</html>