<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'reviews/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'reviews/js/reviews.js' %}"></script>
    <script type="text/javascript" src="{% static 'reviews/js/base.js' %}"></script>


</head>
<body>
    
    <div><button onclick="fun()">ajax</button></div>
    
    

</body>
</html>