<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'manager/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'manager/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'manager/js/manager.js' %}"></script>
    <script type="text/javascript" src="{% static 'manager/js/base.js' %}"></script>


</head>
<body>
    {% if latest_spider_list %}
        <ul>
        {% for spider in latest_spider_list %}
            <!--<li><a hremanageolls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
            <li>{{ spider.name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No spiders are available.</p>
    {% endif %}
    <div><button onclick="fun()">ajax</button></div>
    <div>
        <button onclick="get_projects()">get_projects</button>
        <button onclick="get_spiders_in_project()">get_spiders_in_project</button>
        <button onclick="get_spiders()">get_spiders</button>
    </div>
    <div>
        <button onclick="get_project()">get_project</button>
        <button onclick="get_spider()">get_spider</button>
    </div>
    <div>
        <button onclick="get_spiderstatus()">get_spiderstatus</button>
        <button onclick="get_spiderstatus_today()">get_spiderstatus_today</button>
        <button onclick="get_spiderstatus_last()">get_spiderstatus_last</button>
        <button onclick="get_spider_group_on_status()">get_spider_group_on_status</button>

    </div>
    <div>
        <button onclick="get_spider_on_date()">get_spider_on_date</button>
        <button onclick="get_error_spider_on_date()">get_error_spider_on_date</button>

    </div>
    <div>
        <button onclick="get_spider_on_month()">get_spider_on_month</button>
        <button onclick="get_error_spider_on_month()">get_error_spider_on_month</button>

    </div>
    <div>
        <button onclick="get_spider_on_month_every_day()">get_spider_on_month_every_day</button>
        <button onclick="get_spider_on_year_every_month()">get_spider_on_year_every_month</button>
        <button onclick="get_spider_on_day_every_hour()">get_spider_on_day_every_hour</button>

    </div>
    <div>

        <button onclick="get_operation_time_last_n_days()">get_operation_time_last_n_days</button>
    </div>

    <div>
        <button onclick="get_spider_num_group_by_date()">get_spider_num_group_by_date</button>

    </div>

</body>
</html>