<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shops/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'shops/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shops/js/shops.js' %}"></script>
    <script type="text/javascript" src="{% static 'shops/js/base.js' %}"></script>


</head>
<body>
    
    <div><button onclick="fun()">ajax</button></div>
    <div><button onclick="selete_shop_all()">select_shop_all</button></div>
    <!--<div><button onclick="get_dp_shops()">get_dp_shops</button></div>-->

    <!--<div><button onclick="get_dp_star()">get_dp_star</button></div>-->
    <!--<div><button onclick="get_or_reviewNum()">get_or_reviewNum</button></div>-->
    <!--<div><button onclick="selete_shop_all_star()">selete_shop_all_star</button></div>-->
    <div><button onclick="selete_shop_all_info()">selete_shop_all_info</button></div>
    <div><button onclick="get_all_shop_appraise()">get_all_shop_appraise</button></div>

    


</body>
</html>